# PURL configuration for http://purl.obolibrary.org/obo/ncit

idspace: NCIT
base_url: /obo/ncit

products:
- ncit.owl: https://github.com/ncit-obo-org/ncit-obo-edition/releases/latest/download/ncit.owl
- ncit.obo: https://github.com/ncit-obo-org/ncit-obo-edition/releases/latest/download/ncit.obo

term_browser: custom

entries:

- prefix: /releases/201
  replacement: https://stars.renci.org/var/NCIt/releases/201
  tests:
    - from: /releases/2018-03-09/ncit.owl
      to: https://stars.renci.org/var/NCIt/releases/2018-03-09/ncit.owl

- prefix: /releases/2020
  replacement: https://stars.renci.org/var/NCIt/releases/2020
  tests:
    - from: /releases/2020-07-17/ncit.owl
      to: https://stars.renci.org/var/NCIt/releases/2020-07-17/ncit.owl

- prefix: /releases/2021
  replacement: https://stars.renci.org/var/NCIt/releases/2021
  tests:
    - from: /releases/2021-02-12/ncit.owl
      to: https://stars.renci.org/var/NCIt/releases/2021-02-12/ncit.owl

- prefix: /releases/2022-04-14/
  replacement: https://stars.renci.org/var/NCIt/releases/2022-04-14/
  tests:
    - from: /releases/2022-04-14/
      to: https://stars.renci.org/var/NCIt/releases/2022-04-14/
    - from: /releases/2022-04-14/ncit.owl
      to: https://stars.renci.org/var/NCIt/releases/2022-04-14/ncit.owl

- prefix: /releases/2022-08-19/
  replacement: https://github.com/NCI-Thesaurus/thesaurus-obo-edition/releases/download/v2022-08-19/
  tests:
    - from: /releases/2022-08-19/ncit.owl
      to: https://github.com/NCI-Thesaurus/thesaurus-obo-edition/releases/download/v2022-08-19/ncit.owl

- prefix: /releases/2023-10-19/
  replacement: https://github.com/NCI-Thesaurus/thesaurus-obo-edition/releases/download/v2023-10-19/
  tests:
    - from: /releases/2023-10-19/ncit.owl
      to: https://github.com/NCI-Thesaurus/thesaurus-obo-edition/releases/download/v2023-10-19/ncit.owl

- prefix: /releases/2024-05-07/
  replacement: https://github.com/NCI-Thesaurus/thesaurus-obo-edition/releases/download/v2024-05-07/
  tests:
    - from: /releases/2024-05-07/ncit.owl
      to: https://github.com/NCI-Thesaurus/thesaurus-obo-edition/releases/download/v2024-05-07/ncit.owl

- prefix: /releases/
  replacement: https://github.com/ncit-obo-org/ncit-obo-edition/releases/download/v
  tests:  
    - from: /releases/2025-08-06/ncit.obo
      to: https://github.com/ncit-obo-org/ncit-obo-edition/releases/download/v2025-08-06/ncit.obo

- prefix: /tracker/
  replacement: https://github.com/ncit-obo-org/ncit-obo-edition/issues

- prefix: /about/
  replacement: http://www.ontobee.org/ontology/NCIT?iri=http://purl.obolibrary.org/obo/

## generic fall-through, serve direct from stars by default
- prefix: /
  replacement: https://github.com/ncit-obo-org/ncit-obo-edition/releases/latest/download/
