# PURL configuration for http://purl.obolibrary.org/obo/

idspace: ONTONEO
base_url: /obo/ontoneo

products:
- ontoneo.owl: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/refs/heads/master/ontoneo.owl

term_browser: ontobee
example_terms:
- ONTONEO_00000005

entries:

### Imported ontologies current release

- prefix: /import/
  replacement: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/2021-02-24/import/bfo_import.owl
  tests:
  - from: /releases/2021-02-24/import/bfo_import.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/import/uberon_import.owl

### Project Page and Tracker
- exact: /project
  replacement: https://github.com/ontoneo-project/Ontoneo
 
- exact: /tracker
  replacement: https://github.com/ontoneo-project/Ontoneo/issues

### Current Releases

- exact: /ontoneo.owl
  replacement: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/refs/heads/master/releases/2025-03-14/ontoneo.owl
  
### Previous release

- prefix: /releases/
  replacement: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/
  tests:
  - from: /releases/2021-02-24/ontoneo.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/2021-02-24/ontoneo.owl
  - from: /releases/2016-11-07/ontoneo.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/refs/heads/master/releases/2016-11-07/ontoneo.owl
  - from: /releases/2016-11-07/import/bfo_import.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/refs/heads/master/releases/2016-11-07/import/bfo_import.owl
  - from: /releases/2016-12-14/import/bfo_import.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/2016-12-14/import/bfo_import.owl
  - from: /releases/2016-12-26/ontoneo.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/refs/heads/master/releases/2016-12-26/ontoneo.owl
  - from: /releases/2017-03-04/ontoneo.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/refs/heads/master/releases/2017-03-04/ontoneo.owl
  - from: /releases/2021-02-24/ontoneo.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/refs/heads/master/releases/2021-02-24/ontoneo.owl
  - from: /releases/2021-04-29/ontoneo.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/refs/heads/master/releases/2021-04-29/ontoneo.owl

  
### Documentation Pages and Redirects
- exact: /homepage
  replacement: https://ontoneo.com
