# PURL configuration for http://purl.obolibrary.org/obo/ontoneo/

idspace: ONTONEO
base_url: /obo/ontoneo

products:
- ontoneo.owl: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/ontoneo.owl

term_browser: ontobee
example_terms:
- ONTONEO_00000005

entries:

### Project Page and Tracker
- exact: /project
  replacement: https://github.com/ontoneo-project/Ontoneo
 
- exact: /tracker
  replacement: https://github.com/ontoneo-project/Ontoneo/issues

### Current Releases

- exact: /ontoneo.owl
  replacement: hhttps://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/ontoneo.owl
  
### Imported ontologies current release
- prefix: /import/
  replacement: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/import/
  tests:
  - from: /import/ro_import.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/import/ro_import.owl

### Previous release

- exact: /releases/
  replacement: https://github.com/ontoneo-project/Ontoneo/tree/master/releases
  
- exact: /releases/2021-04-29
  replacement: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/2021-04-29
  tests:
  - from: releases/2021-04-29/import/ro_import.owl
    to: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/import/ro_import.owl  

- exact: /releases/2021-02-24
  replacement: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/2021-02-24

  - exact: /releases/2017-03-04
  replacement: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/2017-03-04

- exact: /releases/2016-12-26
  replacement: hhttps://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/2016-12-26
 
- exact: /releases/2016-12-14
  replacement: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/releases/2016-12-14

- exact: /releases/2016-11-07
  replacement: https://raw.githubusercontent.com/ontoneo-project/Ontoneo/master/releases/releases/2016-11-07
  
### Documentation Pages and Redirects
- exact: /homepage
  replacement: http://ontoneo.com
