# PURL configuration for http://purl.obolibrary.org/obo/uberon

idspace: UBERON
base_url: /obo/uberon

base_redirect: http://uberon.org

products:
- uberon.owl: http://ontologies.berkeleybop.org/uberon.owl
- uberon.obo: http://ontologies.berkeleybop.org/uberon.obo

term_browser: ontobee
example_terms:
- UBERON_0000000

entries:
- exact: /phenoscape-ext-simple.obo
  replacement: https://stars-app.renci.org/jenkins/job/Phenoscape/job/build-phenoscape-ext-simple/lastSuccessfulBuild/artifact/phenoscape-ext-simple.obo

- exact: /phenoscape-ext.owl
  replacement: http://phenoscape.svn.sourceforge.net/svnroot/phenoscape/trunk/vocab/edit/phenoscape-ext.owl

- exact: /experimental/ceph.owl
  replacement: http://purl.obolibrary.org/obo/ceph.owl

- prefix: /references/
  replacement: http://svn.code.sf.net/p/obo/svn/uberon/trunk/reference/

- prefix: /homology/
  replacement: https://phenoscape.svn.sourceforge.net/svnroot/phenoscape/trunk/vocab/homology/

- prefix: /releases/
  replacement: http://svn.code.sf.net/p/obo/svn/uberon/releases/

- prefix: /tracker
  replacement: https://github.com/obophenotype/uberon/issues

- prefix: /about/
  replacement: https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http://purl.obolibrary.org/obo/
  tests:
  - from: /about/UBERON_0000981
    to: https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http://purl.obolibrary.org/obo/UBERON_0000981

- prefix: /docs
  replacement: https://github.com/obophenotype/uberon/wiki

- prefix: /
  replacement: http://ontologies.berkeleybop.org/uberon/

